body{
    background-color: rgb(88, 160, 160);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #292525;
    color: #f8f8f8;
    
}

section p {
    margin-right: 500px;
}

h1{
    background-color: rgb(32, 68, 92);
}

#work-photo {
    border: 1px solid rgb(32, 68, 92);
    border-width: 25px;
    margin-right: 70px;
    display: flex;
    float: right;
}

#work-photo2 {
    border: 1px solid rgb(32, 68, 92);
    border-width: 25px;
    margin-right: 70px;
    display: flex;

}

#work-photo3 {
    border: 1px solid rgb(32, 68, 92);
    border-width: 25px;
    margin-right: 70px;
    display: flex;

}


.nav {
display: flex;
align-items: center;
gap: 150px;
font-size: 1.5em;
text-decoration: underline;
}

aside {
    background-image: url(mock-b2.jpg);
    padding: 100px;
    text-align: end;
    font-size: 4em;
}

h2 {
    font-size: 3.5em;
    margin-left: 5em;
    border-style: solid;
    border-bottom: 0px;
    border-left: 0px;
    border-top: 0px;
    padding: 20px;
    color: rgb(32, 68, 92);;
}

main {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 3fr;
    gap: 50px;
    flex-wrap: wrap;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
    margin-right: 50px;
}
footer div{
    text-decoration: underline;
}

h3 { 
    font-size: 1.78em;
    margin-left: 5em;
    border-style: solid;
    border-bottom: 0px;
    border-left: 0px;
    border-top: 0px;
    padding: 20px;
    color: rgb(32, 68, 92);
}

@media screen and (max-width: 768px) {
    main {
        width: 50%;
    }
    }
  

  @media screen and (max-width: 576px) {
    main {
        width: 100%;
    }
    }
  